// colores
$azul: #4B55E8;
$azul-oscuro: #003BFF;
$negro: #111;
$gris: #888;
$gris-claro: #aaa;
$blanco: white;

// tipografia
$fuente: 'Inter', sans-serif;

// layout
$padding-lateral: 2.5rem;
$padding-lateral-movil: 1.2rem;
$breakpoint-movil: 680px;
